<section class="hobbies">
              <div class="content_title">
               <p>Hobbies & Interests</p>
              </div>
        <div class="gif_container">
            <div class="cycling">
                    <img src="https://media.giphy.com/media/l41lYNASsqlUOt9Xq/giphy.gif" width="100px" height="100px" alt="" />
                    <h4>CYCLING<h4>               
             </div>
             <div class="hiking">
                    <img src="https://media.giphy.com/media/dZf0dg9t3E87x53oLR/giphy.gif" width="100px" height="100px" alt="" />
                    <h4>HIKING<h4>  
             </div>
             <div class="hiking">
                    <img src="https://media.giphy.com/media/pWncxUrrNHdny/giphy.gif" width="100px" height="100px" alt="" />
                    <h4>PING-PONG<h4>  
             </div>
             <div class="hiking">
                    <img src="https://media.giphy.com/media/loG7TbqLitOPTVfg3o/giphy.gif" width="100px" height="100px" alt="" />
                    <h4>YOGA<h4>  
             </div>
             <div class="hiking">
                    <img src="https://media.giphy.com/media/xT9IgzoKnwFNmISR8I/giphy.gif" width="100px" height="100px" alt="" />
                    <h4>CODING<h4>  
             </div>
             <div class="hiking">
                    <img src="https://media.giphy.com/media/CDrYHP4scIZ6U/giphy.gif" width="100px" height="100px" alt="" />
                    <h4>MUSIC & DANCE<h4>  
             </div>
        </div>
</section>