<div class="content">
  <section class="intro-details">
    <div class="intro">
      <h1 class="intro_hello"><span id="changingword">Hello</span></h1>
      <h3 class="intro_greeting">Greetings, Nice to meet you !</h3>
      <h2 class="intro_tagline">
        I'm Raj . . . <br /><br />
        I am a <span class="name"> Full Stack Developer </span> and a staunch
        learner of new cutting edge technologies. <br />
        I am always willing to learn and implement new technologies and follow
        the best software engineering practices.
      </h2>
      <h3 class="intro_contact">
        <span>Kindly have a look at my </span>
        <span>
          <a href="{{site.resume}}" target="_blank" class="highlight-link"
            >Resume</a
          >
        </span>
      </h3>
    </div>
  </section>

  {% include experience.html %} {% include skills.html %} {% include
  skillprogress.html %} {% include hobbies.html %}
</div>
