<section class="skillprogress">
  <div class="section__content">
    <div class="skillbar clearfix" data-percent="100%">
      <div class="skillbar-title" style="background: #2980b9">
        <span>BACKEND DEVELOPMENT</span>
      </div>
      <div class="skillbar-bar" style="background: #3498db"></div>
      <div class="skill-bar-percent">100%</div>
    </div>
    <!-- End Skill Bar -->
    <div class="skillbar clearfix" data-percent="90%">
      <div class="skillbar-title" style="background: #8ad0bd">
        <span>FRONTEND DEVELOPMENT</span>
      </div>
      <div class="skillbar-bar" style="background: #b4d9cf"></div>
      <div class="skill-bar-percent">90%</div>
    </div>
    <!-- End Skill Bar -->

    <div class="skillbar clearfix" data-percent="80%">
      <div class="skillbar-title" style="background: #8ad0bd">
        <span>DATABASE DESIGN ( RDBMS / NoSQL )</span>
      </div>
      <div class="skillbar-bar" style="background: #b4d9cf"></div>
      <div class="skill-bar-percent">80%</div>
    </div>
    <!-- End Skill Bar -->

    <div class="skillbar clearfix" data-percent="90%">
      <div class="skillbar-title" style="background: #2980b9">
        <span>AWS/GCP SERVICES DEPLOYMENT</span>
      </div>
      <div class="skillbar-bar" style="background: #3498db"></div>
      <div class="skill-bar-percent">90%</div>
    </div>
    <!-- End Skill Bar -->

    <div class="skillbar clearfix" data-percent="100%">
      <div class="skillbar-title" style="background: #8ad0bd">
        <span>REST API DEVELOPMENT</span>
      </div>
      <div class="skillbar-bar" style="background: #b4d9cf"></div>
      <div class="skill-bar-percent">100%</div>
    </div>
    <!-- End Skill Bar -->

    <div class="skillbar clearfix" data-percent="80%">
      <div class="skillbar-title" style="background: #2980b9">
        <span>TEST AUTOMATION</span>
      </div>
      <div class="skillbar-bar" style="background: #3498db"></div>
      <div class="skill-bar-percent">80%</div>
    </div>
    <!-- End Skill Bar -->

    <div class="skillbar clearfix" data-percent="60%">
      <div class="skillbar-title" style="background: #8ad0bd">
        <span>TEAM MANAGEMENT</span>
      </div>
      <div class="skillbar-bar" style="background: #b4d9cf"></div>
      <div class="skill-bar-percent">60%</div>
    </div>
    <!-- End Skill Bar -->
  </div>
</section>
